#data/
.mypy_cache/
utils/__pycache__
btc_charts.egg-info/
functions/__pycache__

.env
notebooks/SentiMeter.ipynb
functions/functions_SentiMeter.py
functions/fetch_data.py
notebooks/Reddit.csv
notebooks/test.ipynb
notebooks/BTCvsUSElections.ipynb

#functions

*.ipynb
notebooks/temp_images/
streamlit/
.DS_Store
sentiment/

run_fusion_model.py
ThermoModel_Cycles_Fusion.py

output/ThermoModel_Cycles_Fusion.jpg