#data/
.mypy_cache/
utils/__pycache__
btc_charts.egg-info/
functions/__pycache__

.env
notebooks/SentiMeter.ipynb
functions/functions_SentiMeter.py
functions/fetch_data.py
notebooks/Reddit.csv
notebooks/test.ipynb
notebooks/BTCvsUSElections.ipynb

#functions

test*.ipynb
streamlit/
notebooks/temp_images/
streamlit/